/*CSS Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #3161e0;
    padding-top: 25px;
}

section{
    padding-top: 40px;
}

body a{
    text-decoration: none;
    color: #fff;
    padding: 0px 10px;
    font-size: 0.75rem;
}

h2{
    font-size: 44px;
}

p{
    line-height: 30px;
    font-size: 18px;
}

main p{
    margin-top: 20px;
}

ul{
    line-height: 25px;
    list-style-type: none;
}

/*Utils*/

/*Container*/

.container-standard{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

.container-small{
    max-width: 680px;
    margin: 0 auto;
}

/*Flex*/

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Header*/

.log-in{
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 1rem;
}

.mrg-top-60{
    margin-top: 60px;
}

/*jumbotron*/

.jumbotron{
    height: 580px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

.jumbo{
    color: #fff;
    text-align: center;
}

.btn{
    border-radius: 1rem;
    padding: 10px;
    margin: 14px;
}

.btn-white{
    border: 1px solid #fff;

}

.btn-black{
    background-color: black;
    color: #fff;
    border: 1px solid black;
}

/*Sezioni flex*/

.pdd-80 section{
    padding: 80px;
}

.pdd-left-80{
    padding-left: 80px;
}

.big{
    width: 70%;
}

.small{
    width: 30%;
}

.wave{
    background-color: #f6f6f6;
}

/*Sezione call*/

.call{
    text-align: center;
}

.stars{
    height: 20px;
    width: 25rem;
    background-image: url('../img/stars.svg');
    background-size: contain;
    margin-left: 24rem;
}

.btn-blue{
    background-color: #8ea1e1;
    color: #fff;
    border: 1px solid #8ea1e1;
}

/*Footer*/

footer{
    padding: 80px;
    background-color: #23272a;
    color: #fff;
}

.flex-footer{
    display: flex;
    justify-content: space-between;
}

.flex-title{
    width: 20%;
}

.flex-title h3{
    color: #7289d9;
    font-size: 24px;
    margin-bottom: 10px;
}

.flag{
    height: 10px;
}

.italian{
    display: inline-block;
}

.flex-menu{
    width: 15%;
}

.color-violet{
    color: #7289d9;
}

.brd-top{
    border-top: 1px solid #7289d9;
    margin-top: 20px;
    padding-top: 10px;
}